@charset "utf-8";
*{
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
.nowlend{
	font-family: "微软雅黑";
	margin-top: 30px;
	width: 100%;
	
}
.lendlist{
	width: 80%;
	margin: 0 auto;
	background: #F5F5DC;
}
.lentbtn{
	color: #FFF;
	
}
