@charset "utf-8";
*{
	font-family: "微软雅黑";
}
/*鏌ヨ*/
.scan{
	width: 100%;
	height: 50px;
	margin-top: 60px;
}
.sacndiv{
	width: 90%;
	height: 50px;
	margin: 0 auto;
}
.scaninput{
	width: 500px;
	height: 50px;
	margin: 0 auto;
}
.scanform{
	height: 40px;
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
	width: 400px;
}
.sz_btnscant{
	background: #00688B;
	border: 0px;
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
	color: #FFF;
	top:0px;
	text-decoration: none;
}
.sz_ex1span{
	margin-right:5px ;
}
.sz_btnscan{
	border: 0px;
	font-family: "寰蒋闆呴粦";
	font-size: 16px;
	color: #FFF;
	position: relative;
	float: right;
	top:-36px;
	text-decoration: none;
}
/*booklist*/
.nowlend{
	width: 100%;
	margin-top: 20px;
	font-family: "寰蒋闆呴粦";
}
.lendlist{
	width:80%;
	margin: 0 auto;
}
.statebtn1{
	color: #FFF;
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
}
.statebtn2{
	color: #FFF;
	font-family: "寰蒋闆呴粦";
	font-size: 14px;
}
